.alarm-container {
    text-align: center;
    background-color: rgb(255, 174, 0);
    color: white;
    font-family: 'Courier New', monospace;
    padding: 25px;
    padding-bottom: 90px; /* Aumenta espaço para baixo (aprox. 3cm) */
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
}

.time-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Espaço entre as unidades de tempo */
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    user-select: none; /* Impede que o valor seja selecionado ao clicar */
    width: 70px;
}

.time-unit span {
    padding: 5px;
}

.arrow {
    font-size: 30px;
    cursor: pointer;
    color: #ff5722; /* Laranja vibrante */
}

.arrow:hover {
    color: #e64a19; /* Laranja um pouco mais escuro no hover */
}

.alarm-container button {
    margin-top: 20px;
    background-color: rgb(250, 189, 59);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px; /* Distância entre os botões */
}

.alarm-container button:hover {
    background-color: #e64a19;
}

#stopAlarmButton {
    background-color: #f44336; /* Vermelho padrão para o botão de parar */
}

#stopAlarmButton:hover {
    background-color: #d32f2f; /* Vermelho mais escuro no hover */
}

#toggleAlarmButton {
    margin-top: 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

#toggleAlarmButton.running {
    background-color: #f44336; /* Muda a cor quando o alarme está ativo */
}

#toggleAlarmButton:hover {
    background-color: #e64a19;
}

#toggleAlarmButton.running:hover {
    background-color: #d32f2f;
}
#setPomodoro {
    background-color: rgb(250, 189, 59);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

#setPomodoro:hover {
    background-color: #e64a19;
}

#startPauseBtn{
padding: 12px 20px; 
font-size: 18px; 
background-color: rgb(250, 189, 59);
color: white; 
border: none; 
border-radius: 6px; 
cursor: pointer;
}

#startPauseBtn:hover{
    background-color: #e64a19;
}