.new-task-container{
  background-color: rgb(176, 196, 222);
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  position: absolute;
  top: 60px;
  left: 0;
  padding: 20px;
}

#novaTaskButton {
  background-color: #2eb632; /* Cor de fundo verde */
  color: white;              /* Cor do texto */
  border: none;              /* Remover borda */
  padding: 10px 20px;        /* Espaçamento interno */
  font-size: 16px;           /* Tamanho da fonte */
  cursor: pointer;          /* Cursor de mão ao passar o mouse */
  border-radius: 5px;        /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave na mudança de cor */
}

#novaTaskButton:hover {
  background-color: #248f27;
}




