body{

    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    background-size: 30%;
    background-color: rgb(252, 204, 102);
}

header {
    background-color: rgb(255, 174, 0);
    display: flex; 
    align-items: center;
    padding: 0 10px;
    font-family: 'Rock Salt', cursive;
    height: 60px;
    justify-content: space-between;
}

.img_header{
    height: 40px;
}

.in_line{
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 a{
    font-size: 35px;
    justify-content: right;
    text-decoration: none;
    color: inherit;
}

html, body {
    margin: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
  }
  
  footer {
    background-color: rgb(255, 174, 0);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 10px;
    font-family: 'Rock Salt', cursive;
    margin-top: auto; 
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }