#tasks-display {
  display: block;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.task {
  background-color: #ffffffc0;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  transition: all 0.3s ease; /* Suaviza animações */
}

.task h4 {
  margin: 0;
  font-size: 18px;
}

.task p {
  margin: 5px 0;
}

.task:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/* Quando a tarefa for concluída (clicada), fica verde */
.task.completed {
  background-color: rgb(63, 148, 63) !important;
  color: white;
}

.delete-task {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-task:hover {
  color: darkred;
}

#expired .task {
  background-color: rgb(255, 79, 79);
}

