.taskdeadline-container {
  background-color: rgb(252, 195, 72); /* Fundo suave para destacar a área de prazos */
  display: flex;
  justify-content: space-between; /* Espaça igualmente as colunas */
  padding: 5px;
  margin-top: 240px; /* Distância do topo (encaixa abaixo do cronômetro) */
  position: relative;
  z-index: 1px;
  text-align: center;
  font-family: 'Courier New', monospace; /* Deixando com estilo mais "terminal" */
}

.taskdeadline-column {
  background-color: rgb(255, 174, 0); /* Tom de laranja para manter a identidade visual */
  padding: 12px;
  border-radius: 8px; 
  width: 22%; 
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1); 
  cursor: auto; 
  transition: transform 0.3s, background-color 0.3s ease; 
  margin-bottom: 5px;
  margin-top: 5px;
}

.taskdeadline-column h3 {
  font-size: 17px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase; /* Deixa os títulos em capslock pra dar destaque */
}

.taskdeadline-column:hover {
  background-color: rgb(255, 174, 0); /* Mantém a cor no hover, só pra não quebrar a transição */
}
